*{
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
   margin: 0;

  }
}
.container-fluid{
    width: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
.btn-cart{
  width: 50px;
  height: 50px;
}
.carousel-img-height{
height: 100vh;
}

.card{
  margin: auto;
  height: 34rem;
  text-align: center;
}


.slides{
  height: 100vh;
  overflow: hidden;
}
.tab_card{
  height: vh100;
}
.products{
  width: 100%;
  height:100vh;
  
  
}
.tabs{
  margin-top: 6rem;
}
.nav{
  border-color: blue !important;
}
.nav-link.active{
  border-color: blue blue rgb(241, 237, 237) !important;
  
}
.nav-link{
  color: #eae8ef !important;
  font-weight: 700;
 
}
.nav-link:hover{
  border-color: blue !important;
}
.about{
 
  padding-top: 5rem;
}
.form-label{
  color: white;
  
}
.enquiry{
  overflow-y: scroll;
}
.enq_row{
  margin-top: 5rem;
}
.cart{
  
  background-color: burlywood;
}
.card-text{
  font-size:smaller;
  list-style:circle;
  font-weight: 400;
  text-align: left;
}
.card-body{
  background-color: rgb(48, 12, 176);
  color: rgb(246, 245, 244);
}
.card-title{
  margin: 0;
  width: 100%;
  font-weight: 700;
  background-color: rgb(9, 9, 9);
  
}
/* .btn-warning:hover{
  border-radius: 10px;
  background-color: rgb(113, 8, 24);
  box-shadow: rgba(211, 71, 71, 0.76);
} */
/* .img-div{
  width: 30rem;
  height: 30rem;
  border: solid red;
} */
 .footer{
  width: 100%;
  height: 10rem;
  border: 2px solid black;

 }
 .footer-cont{

flex: 1;
  background-color: cornflowerblue;
  border: 2px solid rgb(178, 218, 86);

 }
 /* design page */
 
 .product-tabs{
  margin-top: 5rem;

 }
 .pills-line{
  height: 2px;
  color: blue;
 }
 H3 SPAN{
  font-weight: bolder;
 }
.btn:focus{
  border: 1px solid black;
  box-shadow: 50px rgba(202, 205, 36, 0.961);
}
/* cart */
.cart-symbol-count{
  width: 25px;
  height: 25px;
  text-align: center;
  
  background-color: greenyellow;
  border-radius: 50%;
}
.cart{
  display: flex;
  flex-direction: column;
  
  align-items: flex-start;
  position: fixed;
  top: 90px;
  right: 10px;
  z-index: 9;
  border-radius: 20px;
  transition-duration: 5s;
  
}
.cart-container{
  width: 400px;
  height:85vh;
  background-color: rgba(27, 23, 23, 0.76);
  color: rgb(255, 255, 255);
  border: 2px solid grey;
  border-radius: 20PX;
  justify-content: center;
  /* overflow-y: auto; */
  
  
}
.cart-products{
  height: 70%;
  overflow-y: auto;
  background-color: rgba(7, 7, 7, 0.76);
 
}
.font-type{
  /* color: black; */
  font-weight: bold;
  text-align: center;

 } 
 .cart-list{
  height: 15%;
  margin-top: 2rem;
display: flex;
align-items: center;
justify-content: space-around;





 }
 .cart-list-img{
  width: 20%;
  border-radius: 50%;
 }
 .cart-list-price{
  color: white;
  font-weight: bolder;
 }
 .countr{


  
 }
 .left-arrow{
  
  background-color: white;
border-radius: 50%;
 text-align: center;
 }
 .couunt{
  color: white;
  font-weight: bolder;

 }
 .right-arrow{
  
  background-color: white;
 border-radius: 50%;
 text-align: center;
 }
 .cart-end{
  display: flex;
  
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgba(27, 23, 23, 0.76) ;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
 }
 .cart-total{
  width: 80%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  
  color: white;
 }
 
 .cart-buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
.cart-button-style{
width: 30%;
background-color: orange;
height: 35px;
border-radius: 30px;


}
 /* support page */
