*{
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
   
  }
}
.container-fluid{
    width: 100%;
   
}
.col-md-4 {

  }

 .home-img{
  object-position: center;
    width: 6%;
    height:12vh; 

  } 
  .home-img{
    
      width: 100%;
      height:12vh; 
  
    } 

.rw_hight{
max-height: 1rem;
flex-wrap: wrap;
}
.height-img{
height: 40rem;
}
.aln_text{
 
}
.card{
  margin: auto;
  height: 30rem;
  text-align: center;
}
.btn{
  
}
body{
  
}
.slides{
  height: 100vh;
  overflow: hidden;
}
.tab_card{
  height: vh100;
}
.products{
  width: 100%;
  height:100vh;
  
  
}
.tabs{
  margin-top: 6rem;
}
.nav{
  border-color: blue !important;
}
.nav-link.active{
  border-color: blue blue rgb(241, 237, 237) !important;
  ba
}
.nav-link{
  color: #e9e8ed !important;
  font-weight: 700;
 
}
.nav-link:hover{
  border-color: blue !important;
}
.about{
 
  padding-top: 5rem;
}
.form-label{
  color: white;
  
}
.enquiry{
  overflow-y: scroll;
}
.enq_row{
  margin-top: 5rem;
}